.pagination {
  padding: 0px 0 20px;
  font-size: 0.8rem;

  ul {
    display: flex;
    justify-content: center;
  }

  li {
    margin-right: 15px;
    font-weight: 500;
    padding: 4px 12px;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
  }

  .active {
    color: white;
    background-color: $color-2;
  }
}

@media screen and (max-width: 900px) {
  .pagination {
    li {
    font-size: 0.9rem;
    margin-right: 6px;
    padding: 1px 10px;
  }
}}

@media screen and (max-width: 600px) {
  .pagination {
    li {
    font-size: 0.6rem;
    margin-right: 5px;
  }
}
}
