.search {
  
  position: relative;
  input {
    width:  180px;
    border-radius: 8px;
    user-select: none;
    background-color: rgb(230, 230, 230);
    outline: none;
    border:none;
    cursor:pointer;
  }

  input::placeholder {
      font-size: 0.7rem;
      text-indent: 10px;
  }

  input:focus{
    color: rgb(41, 41, 41);
    width:180px;
    background: rgb(241, 241, 241)
  }
  .search-results{
    padding: 5px 20px;
    position: absolute;
    // border: solid 1px red;
    width: 200px;
    height: 250px;
    background: rgb(248, 248, 248);
    right: -13px;
    top: 28px;
    border-radius: 8px;
    overflow: hidden;
    overflow-y:scroll;
    box-shadow: 3px -1px 4px 0px #fefffff5;
    border: none;
    visibility: hidden;
  }
  .display {
    visibility: visible;
  }

}
