.header {
  background: linear-gradient(
    rgb(248, 250, 253) 0%,
    rgba(248, 250, 253, 0) 413px
  );
  height: 30vh;
  border-top: solid 0.1px rgb(236, 236, 236);
  border-bottom: solid 0.1px rgb(236, 236, 236);
  display: grid;
  justify-content: space-evenly;
  align-items: center;
  grid-template-columns: repeat(2, 300px) 450px;
  .global-data,
  .trending,
  .dominance {
    background: #ffffff;
    height: 200px;
    border: rgb(216, 216, 216) solid 1px;
    border-radius: 20px;
    box-shadow: 5px -3px 15px 0px #ebeaff;
  }

  h2 {
    margin-top: 5px;
    text-align: center;
    font-size: 1.1rem;
    text-decoration: underline;
    font-weight: 600;
  }
  h3 {
    font-weight: 400;
    font-size: 0.9rem;
    margin: 10px 0;
  }
  h4 {
    margin-right: 20px;
    font-size: 0.8rem;
    font-weight: 550;
  }
  .global {
    padding: 0px 10px;
  }
  .data-global {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .top-trend {
    display: grid;
    grid-template-columns: 50% 50%;
    //   grid-template-rows: 30px 30px 30px ;
  }

  .coin-dominance {
    font-size: 0.8rem;
    white-space: nowrap;
    line-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  img {
    width: 25px;
    height: 25px;
    border-radius: 30px;
    margin-right: 5px;
    transform: translateY(7px);
  }
  .id {
    text-transform: capitalize;
  }
  .symbol {
    color: rgba(0, 0, 0, 0.39);
    margin-left: 5px;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 1350px) {
  .header {
    justify-content: space-between;
    overflow-x: scroll;
    padding: 1rem 0;
    scroll-snap-type: x mandatory;

    .global-data,
    .trending,
    .dominance {
      flex: 1 0 250px;
      margin-left: 1rem;
      scroll-snap-align: start;
    }

    h2 {
      font-size: 1rem;
    }
    h4 {
      margin-right: 5px;
    }

    .trending {
      margin-right: 1rem;
    }
    &::-webkit-scrollbar-track {
      background-color: #ffffff;
    }

    &::-webkit-scrollbar {
      height: 6px;
      background-color: none;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #7d8b97;
      border-radius: 3px;
    }
  }
}

@media screen and (max-width: 700px) {
  .header {
    grid-template-columns: 250px 200px 350px !important;
    height: 25vh;
  }
  .global-data,
  .trending,
  .dominance {
    height: 150px !important;
    // width: 150px;
  }
}
